/*

  Handwritten by Michiel de Graaf.

*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog{
  display: block;
}
*{
  margin: 0;
  padding: 0;
  border: 0 none;
}

/* All the things
 *************************************/

body{
  font-family: "minion-pro", Adobe Garamond Pro, Georgia, Times, serif;
  font-size: 100%;
  line-height: 200%;
  vertical-align: baseline;
  color: #18191a;
  background: #fff;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}
a{
  cursor: pointer;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
          transition: all .25s;
}
p a,
.about a{
  border-bottom: 1px solid rgba(0,0,0,.3);
}
  p a:hover,
  .about a:hover{
    border-color: rgba(0,0,0,1);
  }
h1,h2,h3,h4{
  font-family: "freight-sans-pro", Futura, Lucida Grande, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
}
code{
  font-family: monospace;
}
.container{
  overflow: hidden;
  width: 720px;
  margin: 0 auto;
}

/* Header
 *************************************/

header[role="banner"]{
  overflow: hidden;
  padding: 50px 0 60px 0;
  text-align: center;
  background: #d0f4dd;
}
  .logo{
    display: inline-block;
    width: 37px;
    height: 34px;
    margin-top: 20px;
    border: 0 none;
    background: url(../img/logo-black.png) no-repeat center center;
  }
    .logo img{
      display: none;
    }
  .about{
    margin-top: 20px;
    font-family: "minion-pro", Adobe Garamond Pro, Georgia, Times, serif;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.4em;
    color: rgba(0,0,0,.7);
    text-align: center;
    text-shadow: 0 1px rgba(255,255,255,.4);
  }
    .about span{
      font-style: italic;
    }
  .headlinks{
    list-style: none;
    overflow: hidden;
  }
    .headlinks li{
      display: inline-block;
      margin: 20px 5px 0 5px;
    }
      .headlinks a{
        display: block;
        opacity: .5;
        text-shadow: 0 1px rgba(255,255,255,.4);
      }
        .headlinks a:hover{
          opacity: 1;
        }
        .headlinks a span{
          display: none;
        }

/* Articles
 *************************************/

section[role="main"]{
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 80px;
}
  section[role="main"] article{
    margin-top: 80px;
  }
    section[role="main"] article header{
      overflow: hidden;
      margin-bottom: 16px;
    }
      section[role="main"] article header h2{
        font-size: 2.4em;
        line-height: 1.4em;
      }
        section[role="main"] article header h2 a{
          border: 0 none;
          white-space: normal;
        }
          section[role="main"] article header h2 a:hover{
            background: #fff4cc;
          }
      section[role="main"] article time{
        display: block;
        margin-bottom: 8px;
        color: #a4abb2;
        font-family: "brandon-grotesque", Futura, Lucida Grande, Helvetica Neue, Helvetica, sans-serif;
        font-size: .75em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2em;
      }
    section[role="main"] article .content{
      font-size: 1.25em;
    }
      section[role="main"] article .content h2,
      section[role="main"] article .content h3{
        margin: 40px 0;
      }
      section[role="main"] article .content h2{
        font-size: 1.5em;
      }
      section[role="main"] article .content h3{
        font-size: 1.2em;
      }
      section[role="main"] article .content p{
        margin-bottom: 20px;
      }
      section[role="main"] article .content img{
        display: block;
        width: 100%;
        padding: 10px 0;
      }
      section[role="main"] article .content ul,
      section[role="main"] article .content ol{
        margin: 0 0 20px 40px;
      }
      section[role="main"] article .content code{
        font-size: .9em;
      }
        section[role="main"] article .content p code{
          display: inline-block;
          padding: 1px 12px;
          white-space: nowrap;
          text-shadow: 0 1px rgba(255,255,255,.2);
          background: #fff4cc;
          -webkit-border-radius: 2px;
             -moz-border-radius: 2px;
                  border-radius: 2px;
          -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
             -moz-box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
                  box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
        }
        section[role="main"] article .content .intro{
          margin-top: 0;
        }
          section[role="main"] article .content .intro strong{
            font-weight: normal;
          }
      section[role="main"] article .content .prettyprint{
        display: block;
        margin-bottom: 20px;
        padding: 12px 18px;
        line-height: 1.3em;
        color: #f5f9ff;
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
        background: #30353d;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.8) inset;
           -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.8) inset;
                box-shadow: 0 -1px 2px rgba(0,0,0,.8) inset;
      }

/* Article footer
 *************************************/

.post-foot{
  overflow: hidden;
  height: 22px;
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  line-height: 120%;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}
  .link-back{
    display: block;
    float: left;
  }
    .link-back:hover{
      background: #fff4cc;
    }

/* Footer
 *************************************/

footer[role="footer"]{
  padding: 50px 0;
  border-top: 1px solid #ddd;
}
  footer[role="footer"] p{
    display: block;
    font-size: 1em;
    text-align: center;
    color: #666;
  }
    footer[role="footer"] p a{
      padding-bottom: 2px;
    }

/* Responsiveness
 *************************************/

@media screen and (max-width: 760px){
  body{
    font-size: 90%;
  }
  .container{
    width: auto;
    padding: 0 20px;
  }
}
@media screen and (max-width: 480px){
  body{
    font-size: 80%;
  }
  header[role="banner"]{
    padding: 10px 0 20px 0;
  }
  .about{
    margin-top: 15px;
  }
  section[role="main"]{
    padding-bottom: 50px;
  }
    section[role="main"] article{
      margin-top: 40px;
    }
      section[role="main"] article .content h2,
      section[role="main"] article .content h3{
        margin: 15px 0;
      }
  footer[role="footer"]{
    padding: 30px 0;
  }
}

/* Retina
 *************************************/

@media screen and (-webkit-min-device-pixel-ratio : 1.5),screen and (min-device-pixel-ratio : 1.5){
  header[role="banner"] .logo{
    background-image: url(../img/logo-black@2x.png);
    background-size: 37px 34px;
  }
}